button {
    height: 2rem;
    padding-inline: 0.5rem;
    border: none;
    border-radius: var(--radius-1);
    font-weight: 500;
    font-size: var(--font-3);
}

button:hover {
    cursor: pointer;
}

.mode__light {
    .btn__greylow {
        background-color: var(--color-grey-8);
        color: var(--color-grey-2);
        border: 1px solid var(--color-grey-8);
    }
    
    .btn__greylow:hover, .btn__greylow--active {
        background-color: var(--color-grey-1);
        color: var(--color-grey-8);
        border: 1px solid var(--color-grey-1);
    }

    .btn__buy {
        background-color: var(--color-grey-7);
        color: var(--color-grey-2);
        border: 1px solid var(--color-grey-7);
    }
}