@import url('./globalStyles.css');
@import url('./buttons.css');
@import url('./inputRange.css');

.header {
    display: flex;
    justify-content: space-between;
    margin: 4rem 3rem;
}

.main {
    margin: 0 3rem;
}

.main__filters {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.filters__genresButtons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.genresButtons__allButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
}

.filters__price {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.price__texts {
    display: flex;
    justify-content: space-between;
}

.main__cards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 4rem 0;
}

.cards__list {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    list-style: none;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-grey-8);
    width: 280px;
    border-radius: var(--radius-1);
}

.card__img {
    width: 100%;
    border-radius: var(--radius-1) var(--radius-1) 0 0;
}

.card__info, .card__title, .card__buy {
    margin: 0.1rem 0.75rem 1rem;
}

.card__buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body.darkMode {
    .card {
        background-color: var(--color-grey-1);
    }
}